<?xml version="1.0"?>
<launch>

  	<!-- Listen to messages from joysicks -->
  <node pkg="joy" name="joy_node" type="joy_node"/>

  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find race_monitor)/maps/race_track_f110.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the racecar model -->
  <include file="$(find racecar_simulator)/launch/racecar_model.launch"/>

  <!-- Launch the particle filter -->
  <include file="$(find particle_filter)/launch/localize.launch"/>

  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="racecar_simulator" name="racecar_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find racecar_simulator)/config/params.yaml"/>
  </node>

  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="racecar_simulator" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find racecar_simulator)/config/params.yaml"/>
  </node>

  <!-- Launch the behavior controller node with the parameters from params.yaml -->
  <node pkg="racecar_simulator" name="behavior_controller" type="behavior_controller" output="screen">
    <rosparam command="load" file="$(find racecar_simulator)/config/params.yaml"/>
  </node>

  <!-- Launch the Random Walker Node -->
  <node pkg="racecar_simulator" name="random_walker" type="random_walk" output="screen">
    <rosparam command="load" file="$(find racecar_simulator)/config/params.yaml"/>
  </node>

  <!-- Launch the Keyboard Node -->
  <node pkg="racecar_simulator" name="keyboard" type="keyboard" output="screen">
    <rosparam command="load" file="$(find racecar_simulator)/config/params.yaml"/>
  </node>
  
  <node pkg="need4speed_pure_pursuit" name="pure_pursuit_node" type="pure_pursuit_rrt_variant.py" output="screen">
     <rosparam command="load" file="$(find need4speed_pure_pursuit)/config/params.yaml"/>
  </node>
  <!--
  <node pkg="need4speed_pure_pursuit" name="stanley_node" type="stanley_control.py" output="screen">
     <rosparam command="load" file="$(find need4speed_pure_pursuit)/config/params.yaml"/>
  </node>
  -->

  <!--
  <node pkg="need4speed_pure_pursuit" name="path_reader" type="read_path_from_file.py" output="screen">
     <rosparam command="load" file="$(find need4speed_pure_pursuit)/config/params.yaml"/>
  </node>
  -->
  <node pkg="need4speed_path_planning" name="path_planner_node" type="rrtstar" output="screen">
    <!-- <remap from="rrt_path" to="desired_path"/> -->
  </node>
  <node pkg="need4speed_path_planning" name="path_smoother_node" type="path_smoother.py" output="screen">
  </node>

  <node pkg="need4speed_pure_pursuit" name="sim_connector_node" type="sim_connector.py" output="screen"/>
  <node pkg="need4speed_pure_pursuit" name="visualize_markers_node" type="visualize_markers.py" output="screen"/>
  <node pkg="need4speed_pure_pursuit" name="pure_pursuit_visualizer_node" type="pure_pursuit_visualizer" output="screen">
    <rosparam command="load" file="$(find need4speed_pure_pursuit)/config/params.yaml"/>
  </node>
  <node pkg="need4speed_pure_pursuit" name="waypoints_saver_node" type="waypoints_saver.py" output="screen">
    <rosparam command="load" file="$(find need4speed_pure_pursuit)/config/params.yaml"/>
  </node>

  <node pkg="need4speed_race_suite" name="car_restarter_node" type="car_restarter.py" output="screen">
  </node>

  <node pkg="need4speed_pure_pursuit" name="tracking_error_viz_node" type="tracking_error_visualizer" output="screen">
  </node>
  <node pkg="need4speed_pure_pursuit" name="tracking_error_node" type="error_tracking.py" output="screen">
  </node>

  <node pkg="need4speed_gap_finding" name="gap_finding_node" type="find_gap" output="screen">
    <rosparam command="load" file="$(find need4speed_gap_finding)/config/gap_finding_params.yaml"/>
  </node>

  <node pkg="need4speed_gap_finding" name="gap_visualizer" type="visualize_gap_finding.py" output="screen" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find need4speed_race_suite)/launch/race_visualization.rviz" output="screen"/>

</launch>
